<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>BFH MovieApp REST</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.0.1/angular-resource-1.0.1.min.js"></script>
    
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
   


	<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>

    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" />
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/datepicker.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    
     <script type="text/javascript" src="js/directives.js"></script>
</head>

<body ng-app="movieapp">

	<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
      <div class="dropdown pull-left">
        <a class="brand dropdown-toggle" role="button" data-toggle="dropdown" href="#"> 
          OSS Movie App
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="#">Eclipse is a pain!! <span class="label label-success">Fact</span></a></li>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
           <li>
               <a href="#" role="button" class="dropdown-toggle">
                   Data<b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                   
                   <li><a href="movies.html">Movies</a></li>
                   <li><a href="actors.html">Actors</a></li>
                   <li><a href="regisseurs.html">Regisseurs</a></li>
                   <li><a href="genres.html">Genres</a></li>
                   
               </ul>
           </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br /><br />
	<div class="container">

		<h2>Current Actor</h2>
		
		<div ng-controller="ActorController">
		
		    <form>
		    	<fieldset>         
			        <label for="firstname">Firstname</label>
			        <input type="text" id="lastname" ng-model="currentActor.firstname" />
			        <br/>
			        <label for="lastname">Lastname</label>
			        <input type="text" id="lastname" ng-model="currentActor.lastname" />
			        <br/>
			        <label for="nationality">Nationality</label>
			        <input type="text" id="nationality" ng-model="currentActor.nationality" />
			        <br/>
			        <label for="portaitPath">URL for Portrait</label>
			        <input type="text" class="form-control" id="portaitPath" ng-model="currentActor.portaitPath" />
			        <br />
			        <label for="dateOfBirth">Date of Birth</label>
					<input type="text" ng-model="currentActor.dateOfBirth" id="dateOfBirth" date="dd.MM.yyyy" />
			        <br/>
			        <label for="id">Id</label>
			        <input type="text" id="id" ng-model="currentActor.id" disabled="true" />
			        <br/><br />
			        <button class="btn" id="save" ng-click="save()">Save Actor</button>
			        <button class="btn" id="cancel" ng-click="cancel()">Cancel</button>
		        </fieldset>		        
		    </form>
		
		    <h2>Actors</h2>
		
		    <form id="list">

		        <table id="table" class="table">
		            <thead>
		            <tr>
		            	<th>Id</th>
		            	<th>Portrait</th>
		                <th>Firstname</th>
		                <th>Lastname</th>
		                <th>Nationality</th>
		                <th>Date of Birth</th>
		                <th>Commands</th>
		            </tr>
		            </thead>
		            <tbody>
		            <tr ng-repeat="actor in actors">
		            	<td>{{actor.id}}</td>
		            	<td>
							<img class="overview" src="{{actor.portaitPath}}" />
		            	</td>
		                <td>{{actor.firstname}}</td>
		                <td>{{actor.lastname}}</td>
		                <td>{{actor.nationality}}</td>
		                <td>{{actor.dateOfBirth}}</td>
		                <td>
		                	<button class="btn" id="edit" ng-click="edit(actor)">Edit</button>
		                	<button class="btn" id="delete" ng-click="remove($index, actor.id)">Delete</button>
		                </td>
		            </tr>
		            </tbody>
		        </table>
		    </form>
		
		</div>
	
	</div>
	
	<script >
	$( document ).ready(function() {
		$('#dateOfBirth').datepicker({
			format: 'dd.mm.yyyy'
		})
	});

	
	</script>
</body>
</html>