<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>BFH MovieApp REST</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.0.1/angular-resource-1.0.1.min.js"></script>
    
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>


	<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>

    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" />
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/datepicker.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>

<body ng-app="movieapp">

	<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
      <div class="dropdown pull-left">
        <a class="brand dropdown-toggle" role="button" data-toggle="dropdown" href="#"> 
          OSS Movie App
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="#">Eclipse is a pain!! <span class="label label-success">Fact</span></a></li>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
           <li>
               <a href="#" role="button" class="dropdown-toggle">
                   Data<b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                   
                   <li><a href="movies.html">Movies</a></li>
                   <li><a href="actors.html">Actors</a></li>
                   <li><a href="regisseurs.html">Regisseurs</a></li>
                   <li><a href="genres.html">Genres</a></li>
                   
               </ul>
           </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br /><br />
	<div class="container">
	
		<h2>Current Movie</h2>
		
  
	 	<div ng-controller="MovieController">
		
		
		    <form id="form" role="form">
		    	<div class="form-group">
         
			        <label for="firstname">Title</label>
			        <input type="text" class="form-control" id="title" ng-model="currentMovie.title" />
			        <br/>
			        <label for="duration">Duration</label>
			        <input type="text" id="duration" ng-model="currentMovie.duration" />
			        <br/>
			        <label for="description">Description</label>
			        <input type="text" id="description" ng-model="currentMovie.description" />
			        <br/>
			        <label for="coverPath">Cover Path</label>
			        <input type="text" id="coverPath" ng-model="currentMovie.coverPath" />
			        <br/>
			        <!--  <label for="actors">Actors</label>
			        <input id="actors" ng-model="currentMovie.actors" />
			        <br/>-->
			        <label for="regisseur">Regisseur</label>
			        <select id="regisseur" required ng-model="currentMovie.regisseur" ng-options="regisseur as (regisseur.firstname + ' ' + regisseur.lastname) for regisseur in regisseurs">
                		<option value="">-- choose regisseur --</option>
            		</select>
			        <!--  <select ng-controller="RegisseurController" ng-model="currentMovie.regisseur" ng-options="r.firstname + ' ' + r.lastname for r in regisseurs"></select>-->
			        <br/>
			        <label for="genre">Genre</label>
			        
			        <select id="genre" required ng-model="currentMovie.genre" ng-options="genre as genre.genre for genre in genres">
                		<option value="">-- choose genre --</option>
            		</select>
			        
			        <!--  <select ng-controller="GenreController" ng-model="currentMovie.genre" ng-options="g.genre for g in genres"></select>-->
			       
			        <br/>
			        <label for="id">Id</label>
			        <input type="text" id="id" disabled="disabled" ng-model="currentMovie.id" />
			        <br/><br/>
			        <button class="btn" id="save" ng-click="save()">Save Movie</button>
			        <button class="btn" id="cancel" ng-click="cancel()">Cancel</button>
		        </div>
		        
		    </form> 

		
		    <h2>Movies</h2>
		
		    <form id="list">

		        <table id="table" class="table">
		            <thead>
		            <tr>
		                <th>Title</th>
		                <th>Duration</th>
		                <th>Description</th>
		                <th>Cover Path</th>
		                <th>Actors</th>
		                <th>Regisseur</th>
		                <th>Genre</th>
		                <th>Id</th>
		                <th>Commands</th>
		            </tr>
		            </thead>
		            <tbody>
		            <tr ng-repeat="movie in movies">
		            	<td>
							<img class="overview" src="{{movie.coverPath}}" />
		            	</td>
		                <td>{{movie.title}}</td>
		                <td>{{movie.duration}}</td>
		                <td>{{movie.description}}</td>
		                <td>{{movie.actors}}</td>
		                <td>{{movie.regisseur.firstname}} {{movie.regisseur.lastname}}</td>
		                <td>{{movie.genre.genre}}</td>
		                <td>{{movie.id}}</td>
		                <td>
		                	<button class="btn" id="edit" ng-click="edit(movie)">Edit</button>
		                	<button class="btn" id="delete" ng-click="remove($index, movie.id)">Delete</button>
		                </td>
		            </tr>
		            </tbody>
		        </table>
		    </form>
		
		</div>

	</div>
  
</body>
</html>